html {
  background: #050510;
  height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

body.index {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  height: 100%;
}

.legal {
  margin-top: 4px;
  margin-bottom: -12px;
  display: flex;
  justify-content: center;
}

.footer .l {
  margin: auto 4px;
}

.footer a {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  margin: auto 4px;
}

.footer p {
  margin-right: 5px;
}

.legal a {
  margin: 0 4px;
  color: #222;
  opacity: 0.8;
  text-decoration: none;
}

.legal a:hover, .footer a:hover {
  opacity: 1;
}

.room {
  padding: 50px 20px;
  display: flex;
  font-family: sans-serif;
  overflow-y: auto;
}


.card {
  color: #000;
  background: #f9f9f9;
  border-radius: 12px;
  padding: 40px 50px;
}

.room .card {
  padding: 12px;
}

.room>div {
  margin: 24px;
  width: 50%;
  height: min-content;
}

.room h1 {
  font-size: 1.6em;
}

.branding {
  color: #000;
  display: flex;
  flex-direction: column;
  margin: 24px;
  background: #f9f9f9;
  border-radius: 12px;
  padding: 40px 50px;
  margin-bottom: 100px;
}

@media(max-width: 900px) {
  .room {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 25px 20px;
  }

  .room>div {
    width: auto;
    margin: 0;
  }

  .room .card {
    margin-bottom: 20px;
  }

  .chat.card {
    margin: 0;
  }

  .room .playlist {
    overflow-y: auto;
    max-height: 800px;
  }
}

button {
  border: none;
  padding: 12px;
  border-radius: 50px;
  background: #4411cc;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: none;
  transition: background 200ms ease-out, box-shadow 200ms ease, transform 200ms ease;
}

button:hover:not(:active) {
  background: #5522dd;
  box-shadow: 0 1px 0 #4411cc, 0 2px 0 #4411cc, 0 3px 0 #4411cc, 0 4px 0 #4411cc;
  transform: translateY(-5px);
}

button:active {
  box-shadow: 0 1px 0 #4411cc, 0 2px 0 #4411cc;
  background: #5522dd;
  transform: translateY(-2px);
  transition: transform 0ms linear, box-shadow 0ms linear;
}

.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 24%;
  background: #222;
  color: #fff;
  font-family: sans-serif;
}

.rooms .header {
  color: #000;
  background: #fcfcfc;
  padding: 10px;
  flex-direction: row;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}

.rooms .header span {
  display: inline-flex;
  align-items: center;
}

.rooms .header audio {
  width: auto;
}

.rooms .header img {
  font-size: 28px;
}

.share {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  cursor: pointer;
}

.chat {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.chat span.heading, .search span.heading {
  display: flex;
  align-items: center;
}

.chat .chatfield {
  background: inherit;
  border: none;
  min-height: 100px;
  max-height: 300px;
  overflow-y: auto;
  resize: none;
  transform: height 100ms linear;
}

.chat .chatfield p {
  margin: 8px 0;
}

.chat .chatfield .username {
  -moz-user-select: none;
}

.chat .chatfield .username.self {
  color: #006600;
}

.chat .chatfield .username.other {
  color: #c90000;
}

.chat .chatfield .username.system {
  color: #1300ff;
  font-weight: bold;
}

.chat .chatfield .username::before {
  content: "<"
}

.chat .chatfield .username::after {
  content: "> "
}

.inputField input {
  margin: 0;
  width: 100%;
  padding: 10px;
  border: solid 1px #555;
  transition: background 200ms ease-out, box-shadow 200ms ease, transform 200ms ease, border-color 200ms ease-out;
}

.inputField:focus-within input {
  outline: none;
  border-color: transparent;
  background: #f0f0f0;
  box-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc;
  transform: translateY(-4px);
}

.inputField button {
  padding: 10px;
  border-radius: 0 25px 25px 0;
  font-size: 1em;
}

.inputField:focus-within button:not(:active) {
  background: #5522dd;
  box-shadow: 0 1px 0 #4411cc, 0 2px 0 #4411cc, 0 3px 0 #4411cc, 0 4px 0 #4411cc;
  transform: translateY(-4px);
}

.inputField {
  margin-left: 8px;
  width: 100%;
  display: flex;
  border-radius: 25px;
}

.inputField input {
  background: #fff;
  border-radius: 25px 0 0 25px;
  width: 100%;
  align-items: center;
  text-overflow: clip;
}

.controls {
  display: flex;
  align-items: center;
}

#playPause {
  width: 48px;
  height: 48px;
}

#playPause:active {
  animation: forwards rotate 500ms ease;
}


#volumeSlider {
  -webkit-appearance: none;
  /*width: 100%;*/
  margin: 15px;
  height: 25px;
  border-radius: 50px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#volumeSlider:hover {
  opacity: 1;
}
/*
#volumeSlider::-webkit-slider-thumb {
input[type=range]:hover::-webkit-slider-thumb {
  #volumeSlider::-moz-range-thumb
  transition: background-color 200ms ease-out, box-shadow 200ms ease, transform 200ms ease, border-color 200ms ease-out;
  appearance: none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 1px #4411cc;
  background: #5522dd;
  cursor: pointer;
}

#volumeSlider:hover::-webkit-slider-thumb, #volumeSlider:hover::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #5522dd;
box-shadow: 0 1px 0 #4411cc, 0 2px 0 #4411cc, 0 3px 0 #4411cc, 0 4px 0 #4411cc;
transform: translateY(-4px);
cursor: pointer;
}
*/

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  transition: background-color 200ms ease-out, box-shadow 200ms ease, transform 200ms ease, border-color 200ms ease-out;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 1px #4411cc;
  background: #5522dd;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  transition: background-color 200ms ease-out, box-shadow 200ms ease, transform 200ms ease, border-color 200ms ease-out;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 1px #4411cc;
  background: #5522dd;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  transition: background-color 200ms ease-out, box-shadow 200ms ease, transform 200ms ease, border-color 200ms ease-out;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 1px #4411cc;
  background: #5522dd;
  cursor: pointer;
}

/* Special styling for WebKit/Blink */
input[type=range]:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #5522dd;
  box-shadow: 0 1px 0 #4411cc, 0 2px 0 #4411cc, 0 3px 0 #4411cc, 0 4px 0 #4411cc;
  transform: translateY(-4px);
  cursor: pointer;
}

/* All the same stuff for Firefox */
input[type=range]:hover::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #5522dd;
  box-shadow: 0 1px 0 #4411cc, 0 2px 0 #4411cc, 0 3px 0 #4411cc, 0 4px 0 #4411cc;
  transform: translateY(-4px);
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]:hover::-ms-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #5522dd;
  box-shadow: 0 1px 0 #4411cc, 0 2px 0 #4411cc, 0 3px 0 #4411cc, 0 4px 0 #4411cc;
  transform: translateY(-4px);
  cursor: pointer;
}


.playerDetails {
  display: flex;
  flex-direction: column;
}

.player .details {
  margin: 5px 20px;
  display: flex;
  flex-direction: column;
}

.player .details p {
  margin: 3px;
}

.player .details .songName {
  font-size: 1.5em;
}

.player .details .songArtist {
  font-size: 1.2em;
  margin-top: 0;
}


.player .thumbnail {
  margin-left: 23px;
  width: auto;
  height: 200px;
  border-radius: 5px;
}

.thumbnailContainer {
  overflow: hidden;
}

.player {
  margin-bottom: 50px;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.mobile {
  display: none;
}



/** Queue **/
.queueSong {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px;
}

.queueSong img {
  height: 128px;
  margin: 5px 25px 10px 5px;
  border-radius: 5px;
}

.queueSong span {
  display: flex;
  flex-direction: column;
}

.queueSong span p {
  margin: 2px 0;
}

.queueSong span .title {
  font-weight: bold;
  font-size: 1.5em;
}

.queueSong span .duration {
  font-size: 0.75em;
}
  .rooms .header span {
    transition: height 200ms linear;
    height: 50px;
  }

.queueSong .index {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 75px;
}

.queueSong span a, .player a {
  color: #6537e0;
  text-decoration: none;
  transition: text-shadow linear 75ms, transform linear 75ms;
}

.queueSong span a:hover, .player a:hover {
  text-shadow: #4411cc 0 1px 0, #4411cc 0 2px 0;
  transform: translateY(-2px);
}


@media(max-width: 900px){
      .footer {
        padding: 0 12px;
        display: flex;
        flex-direction: column;
      }
    
      .footer a {
        padding: 2px;
        display: inline-block;
      }
    
      .footer p {
        margin-bottom: 4px;
      }
    
      .footer .l {
        padding-bottom: 6px;
        margin: 0 -6px;
      }
    
      .room {
        padding-top: 160px;
      }
    
      .rooms {
        padding-bottom: 24%;
      }
    
      .rooms .header {
        position: fixed;
        left: 0;
        right: 0;
        flex-direction: column;
        box-shadow: none;
        transition: box-shadow 200ms linear;
      }
      
      .rooms .header.scroll {
        box-shadow: #000 0 0 5px;
      }
    
      .rooms .header span {
        transition: all 200ms linear;
        height: 50px;
      }
    
      .rooms .header.scroll span {
        height: 0;
        overflow: hidden;
      }
    
      .queueSong img {
        height: 64px;
        margin: 2px 6px 2px 2px;
      }
}
/* Notifications */

#notificationContainer {
  transition: margin-bottom 200ms linear;
}

#notificationContainer.show {
  margin-bottom: 54px;
  overflow: hidden;
  height: auto;
}

#notificationContainer.show .notification {
  transition: max-height 200ms linear;
  height: 54px;
  max-height: 54px;
  overflow: hidden;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: max-height 200ms linear, background-color 100ms ease;
  background-color: #3498db;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  z-index: 3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 0;
  max-height: 0px;
  overflow: hidden;
  padding: 4px 16px;
}

.notification h2, .notification p {
  margin: 0;
}

.notification.info {
  background-color: #2980b9;
}

.notification.success {
  background-color: #2ecc71;
}

.notification.warning {
  background-color: #f39c12;
}

.notification.error {
  background-color: #e74c3c;
}