<!DOCTYPE html>
<html class="index" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listen2Gether</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script>
        function makeid(length) {
                var result = '';
                var characters = 'ABCDEFHJKLMNPQRTUWXYacdefghijklmnoprstuvwxyz0123456789';
                var charactersLength = characters.length;
                for (var i = 0; i < length; i++) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }
                return result;
            }
    </script>
</head>
<body class="index" style="background-image: url('/static/assets/background.{{ range(1,7) | random }}.jpg'); background-size: cover;">
    <div class="branding">
        <h1>Listen2Gether</h1>
        <p>Listen to music with your pals!</p>
        <button onclick="window.location = '/room/' + makeid(8)">Create Room</button>
        <span class="legal">
            <a href="/legal/privacy">Privacy Policy</a>
            <a href="/legacy/cookies">Cookies</a>
        </span>
    </div>
    <div class="footer">
        <p>Listen2Gether &copy; four-sided</p>
    </div>
</body>
</html>
