<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script>var roomid = "{{ roomid }}";</script>
    <script src="/static/scripts/socket.io.min.js"></script>
    <script src="/static/scripts/vtt.min.js"></script>
    <script src="/static/scripts/room.js"></script>
    <script src="/static/scripts/notification.js"></script>
    <title>Listen2Gether</title>
</head>
<body>
<div id="notificationContainer">
</div>
<div class="rooms">
    <div class="header">
        <span>
            <a href="/"><img src="/static/icons/chevron-left.svg" alt="Back"></a>
            <h2>Room {{ roomid }}</h2><img src="/static/icons/share-2.svg" class="share">
        </span>
        <div class="controls">
            <label id="volumeInfo">50%</label>
            <input type="range" min=0 max=100 step=1 id="volumeSlider">
            <img src="/static/icons/play-circle.svg" id="playPause" data-clicked="true">
        </div>
    </div>
    <div class="room">
        <div>
            <div class="player card">
                <h1>Currently playing</h1>
                <div class="playerDetails">
                    <div class="thumbnailContainer">
                        <img src="/static/assets/no-thumbnail.jpg" class="thumbnail">
                    </div>
                    <div class="details">
                        <a class="songName" id="songName" href="" target="_blank">No Song Name</a>
                        <p class="songArtist" id="songArtist">No Song Artist</p>
                        <p class="songDuration" id="songDuration">0:00 / 0:00</p>
                    </div>
                </div>
            </div>
            <div class="playlist card empty">
                <h1>Queue</h1>
                <div id="queue">
                    <p>Currently empty! :(</p>
                </div>
            </div>
        </div>
        <div>
            <div class="search card">
                <span class="heading">
                    <h1>Add</h1>
                    <span class="inputField">
                        <input type="text" placeholder="URL" id="searchInput">
                        <button id="searchSend">Search</button>
                    </span>
                </span>
            </div>
            <div class="chat card">
                <span class="heading">
                    <h1>Chat</h1>
                    <span class="inputField">
                        <input type="text" id="chatInput" placeholder="Message">
                        <button id="chatSend">Send</button>
                    </span>
                </span>
                <div class="chatfield" id="chatfield">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Listen2Gether &copy; four-sided</p>
        <span class="l">
            <a href="/legal/privacy">Privacy Policy</a>
            <a href="/legacy/cookies">Cookies</a>
        </span>
    </div>
</div>
</body>
</html>
